h1, p{
    text-align: center;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

#banner{
    width: 100%;
}

.principal{
    background-color: #ccc;
    padding: 20%;
}

.titulo-principal {
    padding-left: 30px;
}

.diferenciles{
    background-color: #ffff;
    padding: 30%;
}

.titulo-centralizado{
    text-align: center;
}

h2{
    text-align: center;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}